@use "../utils/box-shadow.scss" ;

/*EXPOLRER*/
.explorer {
    text-align: center;


& h2 {
    margin-top: 2rem;
    font-size: 2.5;
}

 & p {
    font-size: 1rem;
}

& button {
    border-radius: 2rem;
    background-image: linear-gradient(to top,rgba(147,86,220,.9),rgba(255,121,218,.9));
    color: white;
    font-weight: bold ;
    font-size: 1rem;
    border: none;
    padding: 1rem 2rem;
    transition: all 200ms;
    margin-top: 1rem;
    cursor: pointer;
    @include box-shadow.base-shadow ;
}
 
& button:hover {
    transform: scale(1.02);
    opacity: O,9;
}
}